/*normales*/
.tipografias{
    font-family: 'Dosis', sans-serif;
font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

/*cursiva*/

.tipografiasCursivas{
    font-family: 'Montez', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Allura', cursive;
font-family: 'Pattaya', sans-serif;
font-family: 'Redressed', cursive;
}

/*titulonombre*/

.tipografiasnombre{
    font-family: 'Akronim', cursive;
font-family: 'Delius Swash Caps', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Homemade Apple', cursive;
}

/*
.bodyHome{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100vh;
}
*/

.menuInicio{
    font-family: 'Homemade Apple', cursive;
}
.parallax-container .parallax img{
    opacity: .7;
}

.parallax-container .parallax img dos{
    bottom: 150px;
}

.parallax-container {
    height: 280px;    
}

.nombre{
    font-family: 'Homemade Apple', cursive;
    color: darkred;
}

.fondo{
    width: 100%;
    height: 100vh;
    background-color: #616161; 
}

.tituloAcerca{
    margin-left: 25%;
    margin-top: 40%;
    color: white;
    font-family: 'Lobster Two', cursive;    
}

.resumenAcerca{
    font-size: 22px;
}

.navbar-fixed{
    height: 45px;
}

nav{
    background-color: darkred;
    height: 80px;
}

.datos{
    color: #85AC8D;
}

.proyectos{
    background-color: darkred;
    margin-top: -32px;
}

.proyectosTitulo{
    font-family: 'Lobster Two', cursive;
    color: #616161;
}

.carousel .carousel-item{
    width: 400px;
    height: 200px;
}

.tituloHabilidades{
    font-family: 'Lobster Two', cursive;
    color: darkred;
}

.subtituloHabilidades{
    font-family: 'Lobster Two', cursive;
    color: #616161; 
}

.habilidades{
    width: 50%;
    height: 50%;
}

.nivel{
    color: darkred;
}
.row .col.l4{
    width: 24.333%;
}

.contactame{
    background-color: #616161;
    color: white;
}

.tituloContacto{
   font-family: 'Lobster Two', cursive; 
}

.row{
    margin-bottom: 0px;
}

.ocultar{
    display: none;
}
.habilidades:hover .ocultar{
        display: inline-block;
    
}


 