.paletadecoloresROJO:{
    color: #CAA57D;
    color: #C1D8C7;
    color: #85AC8D;
    color: #E79B80;
    color: #DC0F27;
}
.paletadecoloresAZUL:{
    color: #7FAFAE;
    color: #BCDED8;
    color: #F7B0A8;
    color: #E78476;
    color: #5B524A;
}
.paletadecoloresVINO:{
    color: #A1305C;
    color: #DA90B6;
    color: #D7D5DA;
    color: #82A5A1;
    color: #3F6971;
}
.paletadecoloresROSA:{
    color: #DD7877;
    color: #EDC8C9;
    color: #E6C3B7;
    color: #DAEAE3;
    color: #8EC0BB;
}
.paletadecoloresAZULF:{
    color: #BF9E73;
    color: #E6CF9E;
    color: #EEE2D0;
    color: #CBDFE6;
    color: #A5CAD4;
    color: #6C91A2;
}

body{
    background-color: #A5CAD4;
}
.tipografias{
    font-family: 'Droid Serif', serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Tangerine', cursive;
}

.bodyHome{
    background-image: url(../img/flores_azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 100vh;
}

.textoHome{
    font-family: 'Pacifico', cursive;
    color: #EEE2D0;
    font-size: 50px;
}

.infoHome{
    font-family: 'Muli', sans-serif;
    background-color: #EEE2D0;
    color: #6C91A2;
    font-weight: bold;
    border-radius: 5%;
}

.imgHome{
    border-radius: 30%;
}

.navbar-fixed{
    height: 45px;
}
nav{
    background-color: #BF9E73;
    height: 80px;
}

.datos{
    color: #85AC8D;
}

.proyectos{
    background-color: #EEE2D0; 
    font-family: 'Muli', sans-serif;
}
.proyectosTitulo{
    font-family: 'Pacifico', cursive;
    color: #BF9E73;
    font-size: 50px;
}

.habilidades{
    font-family: 'Muli', sans-serif;
    color: #6C91A2;
    font-weight: bold;
}

.progress{
    height: 15px;
    background-color: #EEE2D0; 
}

.progress.determinate{
    background-color: #6C91A2;
}
.contactame{
    background-color: #6C91A2;
    font-family: 'Pacifico', cursive;
    color: #E6CF9E;
    font-size: 50px;
}
.contactameTexto{
   font-family: 'Muli', sans-serif; 
    font-size: 20px;
}

footer{
    background-color: #6C91A2;
}

.row{
    margin-bottom: 0px;
}


 